<!DOCTYPE>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Lab 20</title>
		<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/service.js"></script>
		<link type="text/css" rel="stylesheet" href="css/styles.css"/>
	</head>

<body ng-app="myApp" ng-controller="myCtrl">

	<ul>
		<li ng-repeat="quote in quotes">{{ quote.poetry }} - {{ quote.poet }}</li>
	</ul>



	<footer ng-controller="myCtrl">
	
		<blockquote> {{ $scope.quotes[selection].poetry }} ~ {{ quotes[selection].poet }}</blockquote>
		<button type="button" ng-click="getQuote()">New quote</button>
	</footer>

	</body>

</html>
